{% extends 'captain/base.html' %}
{% load static %}


{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>{% block title %}Announcement Page {% endblock title %}</title>
</head>
<style>
    .col-sm-9 p{
        transition: .2s;
    }
    .col-sm-9:focus p span{
        color: #db6574;
    }
</style>

<body>
    <div class="form-content form-page">
        <!-- Page Header-->
        <div class="bg-dash-dark-2 py-4">
            <div class="container-fluid">
                <h2 class="h5 mb-0">Announcement Page</h2>
            </div>
        </div>
        <!-- Breadcrumb-->
        <div class="container-fluid py-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 py-3 px-0">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Announcement page</li>
                </ol>
            </nav>
        </div>
        <div class="container-fluid mr-auto">
            <div class="row d-flex justify-content-between">
                <div class="col-sm-7 offset-1 mx-2 p-0 bg-dark">
                    <div style="background-color: #2d3035; color:white;" class="head">
                        <h3 class=" p-2">News & Events</h3>
                    </div>
                    <form class="form-inline d-flex justify-content-between mt-3 mx-5" method="post">
                        {% csrf_token %}
                        <input class="form-control mr-sm-2 w-75" type="search" name="searchannouncement" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    {% for all in data %}
                    <div class="row mx-3 mt-3">
                        <div class="col-sm-2">
                            <p style="font-weight:bolder; font-family:sans-serif;" class="font-weight-bold">{{ all.created_at |date:"F-d-Y"}} <br>
                                <span style="color: white;"></span></p>
                        </div>
                        <div class="col-sm-9">
                            <p  style="border-left: 2px solid blue; padding-left:20px; border-left-width:3px; ">
                                <span><a href="{% url 'AnnouncementDetails' all.slug %}">{{ all.title }}</a></span> <br>
                                <span>{{ all.created_at |date:"Y-m-d"}}</span>
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div  class="col-sm-4 bg-dark p-0 d-inline-block" style="height: max-content;">
                    <div style="background-color: #2d3035; color:white;" class="head">
                        <h4 class=" p-2">Important Links & Notifications</h4>
                    </div>
                    <form class="form-inline d-flex justify-content-between mt-3 mx-3">
                        <input class="form-control mr-sm-2 w-75" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <div class="row mx-3 mt-3">
                        <div class="col-sm-3">
                            <p style="font-weight:bold; font-family:sans-serif; font-size:12px;" class="font-weight-bold">June 21 <br>
                                <span style="color: white;">2023</span></p>
                        </div>
                        <div class="col-sm-9">
                            <p  style="border-left: 2px solid blue; padding-left:20px; border-left-width:3px; ">
                                <span><a href="">Regsitrations Open</a></span> <br>
                                June 21 2023
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>
<!-- <h1>This is announcement page shown</h1> -->
{% endblock content %}