{% load static %}
{% load active_link_tags %}






<nav id="sidebar">
  <!-- Sidebar Header-->
  <div class="sidebar-header d-flex align-items-center p-4"><img class="avatar shadow-0 img-fluid rounded-circle"
      src="{% static 'img/avatar-6.jpg' %}" alt="...">
    <div class="ms-3 title">
      <a href="{% url 'Profile' %}">
      <h1 class="h5 mb-1">{{ request.user.first_name | capfirst }} {{ request.user.last_name | capfirst }}</h1>
    </a>
      <p class="text-sm text-gray-700 mb-0 lh-1">CEO (FIESTA CONTENT SOLUTION) </p>
    </div>




    {% if user.Designate == '1' %}
      {% include "captain/include/sidebar/adminsidebar.html" %}

    {% elif user.Designate == '2' %}
      {% include "captain/include/sidebar/partnersidebar.html" %}

    {% elif user.Designate == '3' %}
      {% include "captain/include/sidebar/coordinatorsidebar.html" %}

    {% elif user.Designate == '4' %}
      {% include "captain/include/sidebar/teamleadersidebar.html" %}

    {% elif user.Designate == '5' %}
      {% include "captain/include/sidebar/writersidebar.html" %}

    {% elif user.Designate == '6' %}
      {% include "captain/include/sidebar/membersidebar.html" %}
  {% endif %}

</nav>